*,
::before,
::after
	box-sizing: border-box

*
	padding:
		block:
			start: 0
			end: 0
		inline:
			start: 0
			end: 0
	margin:
		block:
			start: 0
			end: 0
		inline:
			start: 0
			end: 0
	border:
		block:
			start: 0
			end: 0
		inline:
			start: 0
			end: 0

html,
body
	overflow-x: hidden
	word-break: break-all
	white-space: nowrap
	white-space: initial

html
	font-size: 72.5%

body
	font:
		size: 1.4rem
		family: 'Source Sans Pro', sans-serif
		weight: 400
	line-height: 1.588
	background-color: #f2f4f4
	transition: opacity 500ms
	&.hide
		opacity: 0

html,
body,
button,
strong,
p,
b
	margin: 0
	padding: 0
	outline: 0
	letter-spacing: 0.28pt

	text-rendering: geometricPrecision

a
	text-decoration: none

main > div
	display: grid
	min-height: 100vh
	grid-template-columns: min( 220px ) 1fr
	grid-template-rows: 60px 1fr 60px
	grid-template-areas: "header header header header header" "sidebar content content content content" "sidebar footer footer footer footer"

	&> header,
	&> footer
		padding: 1rem

	&> header
		grid-area: header

		background-color: #58D68D

		&> .container
			display: flex

	&> #Sidebar
		grid-area: sidebar

		background-color: #424949

	&> section
		grid-area: content

		margin-left: 17px
		margin-right: 17px

	&> footer
		grid-area: footer



.container
	position: relative
	max-width: 100%
	margin:
		left: auto
		right: auto

h1
	font:
		size: 40pt

h2
	font:
		size: 35pt

h3
	font:
		size: 30pt

h4
	font:
		size: 25pt

h5
	font:
		size: 20pt

h6
	font:
		size: 15pt

h1,
h2,
h3,
h4,
h5,
h6
	font:
		family: 'Abril Fatface', cursive
	letter-spacing: 1.684pt

h1,
h2,
h3,
h4,
h5,
h6,
ul
	padding: 5px 0

form input,
form button,
form textarea
	outline: 0

.center
	margin:
		left: auto
		right: auto
	text-align: center

a
	transition: color 250ms

.layout-enter-active, .layout-leave-active
	transition: opacity 500ms

.layout-enter, .layout-leave-active
	opacity: 0



